/* Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: #1b1b1b;
  /* --secondary-color: #5e6a71; */
  --secondary-color: #020b13;
  --text-color: #e6e6e6;
  --highlight-color: #008080;
  --gold: #fdb500;
  --primary-hover: #00afaf;
  --secondary-hover: #ffe710;
}

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- */
/*---- GENERAL ---- */
/* ---------------- */

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0.3em;
}
nav img {
  width: 200px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li a {
  text-decoration: none;
  padding: 1em;
  color: var(--highlight-color);
  font-size: 1.1em;
  font-weight: 500;
  transition: color 0.3s ease;
}
nav li a.login {
  color: var(--gold);
}
nav li a:hover {
  color: var(--primary-hover);
}
nav li a.login:hover {
  color: var(--secondary-hover);
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
    padding: 0.6em;
  }

  nav ul {
    flex-direction: row;
  }
  nav li a {
    padding: 0.5em;
  }
}

/* ------------- */
/*---- HOME ---- */
/* ------------- */

header.header {
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url("./images/supercar1.png");
  background-size: cover;
  background-position: center center;
  color: var(--text-color);
  text-align: center;
  padding: 50px;
}

/* GSAP Animation */
.header h1,
.header h4 {
  opacity: 0;
  transform: translateY(-20px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Responsive */
@media (max-width: 768px) {
  .header h1 {
    font-size: 1.4em;
  }
  .header h4 {
    font-size: 0.8em;
    margin-top: 1.5em;
  }
}
