/* Raleway Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: #0e0e0e;
  --secondary-color: #020b13;
  --text-color: #e6e6e6;
  --highlight-color: #008080;
  --silver: #d1d1d1;
  --primary-hover: #00afaf;
}

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0; /* https://www.youtube.com/watch?v=cH8VbLM1958&ab_channel=Theo-t3%E2%80%A4gg */
}

/* ---------------- */
/*---- GENERAL ---- */
/* ---------------- */

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0 1em;
  border-bottom: 1px solid var(--highlight-color);
}

nav img {
  width: 80px;
  height: 80px;
}

.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
  color: var(--text-color);
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li a {
  text-decoration: none;
  padding: 1em;
  color: var(--highlight-color);
  font-size: 1em;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links li a.login {
  color: var(--silver);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}

.nav-links li a:hover {
  color: var(--primary-hover);
}
.nav-links li a.login:hover {
  text-shadow: none;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 12;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    background: var(--secondary-color);
    transition: right 0.8s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    padding: 0;
  }

  .nav-links.open {
    right: 0;
  }

  .nav-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a {
    padding: 15px;
    display: block;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  .nav-links li a.login {
    color: var(--text-color);
    box-shadow: none;
  }
  .nav-links li a.login:hover {
    color: var(--primary-hover);
  }
}

/* ------------- */
/*---- HOME ---- */
/* ------------- */

header.header {
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url("./images/supercar1.png");
  background-size: cover;
  background-position: center center;
  color: var(--text-color);
  text-align: center;
  padding: 50px;
}

/* GSAP Animation */
.header h1,
.header h4 {
  opacity: 0;
  transform: translateY(-20px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Responsive */
@media (max-width: 768px) {
  .header h1 {
    font-size: 1.4em;
  }
  .header h4 {
    font-size: 0.8em;
    margin-top: 1.5em;
  }
}

/* --Home Components--  */
.choose-us,
.faq {
  min-height: 85svh;
  background-color: var(--primary-color);
  border-top: 1px solid var(--highlight-color);
  color: var(--text-color);
  text-align: center;
  padding: 6em 0;
}
.choose-us h2,
.fag h2 {
  padding-bottom: 2em;
}
.choose-us h2 span,
.faq h2 span {
  box-shadow: inset 0 -2px 0 0 var(--highlight-color);
  padding-bottom: 5px;
}

/* --------------- */
/*---- CHOOSE ---- */
/* --------------- */

.choose-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.choose-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 20em;
  height: 28em;
  margin: 1em;
  padding: 1em;
  border: 1px solid var(--highlight-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 3px 0 var(--primary-hover);

  /* gsap animation */
  opacity: 0;
  transform: translateY(50px);
}

/* card icons */
.card-icon {
  color: var(--highlight-color);
  padding: 2em;
  height: 45px;
}
.choose-card p {
  padding-top: 1em;
  line-height: 1.4;
  letter-spacing: 0.1em;
}

/* ------------ */
/*---- FAQ ---- */
/* ------------ */

.accordion {
  padding: 4em 0;
  max-width: 40em;
  margin: 2em auto;
}

.accordion-header {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-bottom: 2px solid var(--highlight-color);
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: var(--primary-hover);
}
.accordion-header:active {
  background-color: var(--primary-hover);
}

.accordion-content {
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  background-color: var(--silver);
  color: var(--secondary-color);
  border-top: 1px solid var(--silver);
  transition: max-height 0.3s ease-out;
  padding-top: 1em;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.accordion-item {
  margin-bottom: 0.5rem;
  /* gsap animation */
  opacity: 0;
  transform: translateY(50px);
}

/* ------------- */
/*---- FOOTER ---- */
/* ------------- */

.footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 40px 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top: 1px solid var(--highlight-color);
}

/* Section headings */
.footer h4 {
  color: var(--highlight-color);
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
  font-size: 16px;
  position: relative;
  padding-bottom: 3px;
  cursor: pointer;
}

.footer li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-hover);
  transition: width 0.3s ease-in-out;
}

.footer li:hover::after {
  width: 100%;
}

.footer-contact p,
.footer-contact a {
  margin: 0;
  line-height: 1.8;
  color: var(--text-color);
}

.footer-contact a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

.footer-contact span {
  font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .footer-section,
  .footer-contact,
  .footer-support {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer li {
    display: block;
    margin: 10px 0;
  }

  /* remove underline effect */
  .footer li:hover::after {
    width: 0;
  }

  .footer li:hover {
    color: var(--primary-hover);
  }
}
