.car-details-container {
  min-height: 95vh;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6em 0;
  letter-spacing: 1.1px;
  line-height: 20px;
}
.car-details-container h2 {
  text-align: center;
}
.car-details-container h2 span {
  box-shadow: inset 0 -2px 0 0 var(--highlight-color);
  padding-bottom: 5px;
}
.car-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
}
.car-image img {
  width: 450px;
  max-width: 100%;
  height: auto;
  /* padding-top: 2em; */
}

.car-details-text {
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.car-specs {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  letter-spacing: 1.3px;
  font-size: 18px;
}

.car-specs li {
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
}

.car-specs li:last-child {
  border-bottom: none;
}
