main.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-height: 97vh;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1em;
}
.select-manufacturer {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select-manufacturer button {
  background-color: var(--highlight-color);
  border: none;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
  outline: none;
}
button.all-manufacturer {
  font-weight: 600;
  font-size: 15px;
}
.select-manufacturer img {
  width: 30px;
  height: auto;
  display: block;
  margin: auto;
}

.select-manufacturer button:hover,
.select-manufacturer button:focus {
  cursor: pointer;
  background-color: var(--primary-hover);
}
.select-manufacturer button.active {
  background-color: #53ffff;
}
.store-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.car-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid var(--highlight-color);
  flex-basis: calc(33.333% - 2em); /* 3 card per row */
  max-width: 350px;
  height: 450px;
  /* overflow: auto; srcollbar on overflow */
  overflow: visible;
  padding: 1em;
  margin: 3em 2em;

  position: relative;
}
.brand-img,
.car-img {
  max-width: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.car-img img {
  max-height: 150px;
  width: auto;
  object-fit: contain;
  margin-top: 4em;
}
.brand-img {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: -41px;
}

.brand-img img {
  width: 60px;
  border-radius: 50%;
  background-color: var(--highlight-color);
}

.car-text {
  padding: 0.5em;
}

.car-text h3 {
  margin-top: 0.5em;
}

.car-text p {
  margin: 0.25em 0;
}
/* Responsive */
@media (max-width: 768px) {
  .car-card {
    flex-basis: calc(50% - 2em); /* 2 cards per row */
    max-height: 400px;
  }
}

@media (max-width: 480px) {
  main.store-container {
    flex-direction: column;
    align-items: center;
  }

  .car-card {
    flex-basis: 100%; /* 1 card per row */
    width: 100px;
  }
  .select-manufacturer button {
    margin: 6px;
  }
}
